<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="UserDataService" value="https://jsonplaceholder.typicode.com/users"/>
    <add key="GMapsAPIURI" value="https://maps.google.com/maps/api/geocode/json?"/>
    <add key="GMapsAPIKey" value="AIzaSyD1JR5UsGB_G4b603aMTrP2AeaYNEkIWg4"/>
  </appSettings>
</configuration>